/*-------------------------------------------------------------------------
	Publish Notes Field CSS
-------------------------------------------------------------------------*/

.field-publishnotes:not(.instance) {
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	min-height: auto;
}

.field-publishnotes:not(.instance) .control {
	margin-top: 1rem;
}

.field-publishnotes:not(.instance) .control input {
	margin-bottom: 0; width: auto;
}

.field-publishnotes:not(.instance) a.publishnotes-edit {
	order: 10;
	align-self: flex-start;
	border-radius: 5px;
	position: relative;
	color: #fff;
	font-size: 1.1rem;
	text-transform: uppercase;
	line-height: 1.6rem;
	margin: 1rem 0 0;
	padding: 1rem 1.5rem;
	background: #2f77eb;
}

.field-publishnotes:not(.instance).editable a.publishnotes-edit {
	display: none;
}

.field-publishnotes:not(.instance) p a {
	transition: color 0.45s;
	color: #2f77eb;
}

.field-publishnotes:not(.instance) p a:hover {
	color: currentColor;
}

.field-publishnotes:not(.instance) label {
	margin-bottom: 0!important;
}
